@charset "utf-8";

/* common */
body {
  font-family: 'Julius Sans One',
  sans-serif;
}

main {
  box-sizing: border-box;
  margin: .5%;
  padding: 0;
}



/* header */
h1 {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.logo-pc {
  display: none;
  margin-top: 10%;
  margin-left: 25%;
}

.logo-sp {
  margin-top: 5%;
}



/* hamburger */
header {
  display: flex;
  padding: 0 16px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  margin: 0 5%;
  line-height: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay.show li:nth-child(1){
  transition-delay: .1s;
}

.overlay.show li:nth-child(2){
  transition: .2s;
}

.overlay.show li:nth-child(3){
  transition-delay: .3s;
}

.pc-menu {
  display: none;
  margin: 0 5%;
}



/* hero */
h2{
  margin-top: 64px;
  text-align: center;
}

.hero-img {
  max-width: 100%;
  height: auto;
}



/* about */
.about {
  text-align: center;
  margin: 160px 0;
}

h3 {
  text-align: center;
  font-size: 40px;
  color: black;
  margin-top: 72px;
}

.about-pic {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 24px;
  font-family: 'Zen Maru Gothic',
  sans-serif;
}



/* cafe menu */

/* .menu-img-sp {
  display: inline;
} */

.menu-img-pc {
  display: none;
}

.menu-list {
  margin: 32px 0;
  text-align: center;
  gap: 24px;
  font-weight: bold;
}

 
.title {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
}

.yen {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
}


/* access */
.access {
  margin: 160px 0;
}

.access-text {
  text-align: center;
  font-size: 16px;
  margin-top: 16px;
  font-family: 'Zen Maru Gothic',
  sans-serif;
}



/* footer */
ul {
  padding-left: 5%;
}

 li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #342600;
  line-height: 2;
}

.copyright {
  width: 100%;
  height: 32px;
  background-color: #342600;
  color: #FFFFFF;
  text-align: center;
  padding: 32px 0;
}



/* large screen */

@media (min-width: 600px) {
  /* header */
  .logo-sp {
    display: none;
  }

  .logo-pc {
    display: inline;
  }

  /* humberger menu */
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 80px;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu li {
    font-size: 32px;
    margin: 40px;
  }

  .sp-menu {
    display: none;
  }
  
  /* about */
  .text {
    font-size: 32px;
  }

  /* menu */
  .menu-img-sp {
    display: none;
  }

  .menu-img-pc {
    display: inline;
  }

  .menu-set {
    display: flex;
    justify-content: center;
    margin: 32px 0;
    gap: 24px;
  }

  
}
